 
<div class="row toolBar-Space">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<button type="button" class="btn btn-success pull-right addnewContact">
			<span class="glyphicon glyphicon glyphicon-plus"></span>
		</button>

	</div>
</div>


 <div class="row">

 	<table class="table table-hover table-over-cursor">
 		<thead>
 			<tr>
 				<th>Name</th>
 				<th>E-Mail</th>
 				<th>Phone</th>
 				<th>Comments</th>
 			</tr>
 		</thead>
 		<tbody>
 			<% _.each(data, function(row) { %>
	 			<tr data-id="${row.id}">
	 				<td><%= row.name %> </td>
	 				<td><%= row.email %> </td>
	 				<td><%= row.phoneNumber %> </td>
	 				<td><%= row.comments %> </td>
	 			</tr>
	 			<tr>
 			<% }); %>

 		</tbody>
 	</table>
 </div>