 
<div class="row toolBar-Space">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<button type="button" class="btn btn-success pull-right addnewContact">
			<span class="glyphicon glyphicon glyphicon-plus"></span>
		</button>

	</div>
</div>


 <div class="row">

 	<table class="table">
 		<thead>
 			<tr>
 				<th>Name</th>
 				<th>E-Mail</th>
 				<th>Phone</th>
 				<th>Comments</th>
 			</tr>
 		</thead>
 		<tbody>
 			<tr>
 				<td>John</td>
 				<td>Doe</td>
 				<td>john@example.com</td>
 				<td>sadsdasdasdasdasdsas.com</td>
 			</tr>
 			<tr>
 				<td>John</td>
 				<td>Doe</td>
 				<td>john@example.com</td>
 				<td>sadsdasdasdasdasdsas.com</td>
 			</tr>
 		</tbody>
 	</table>
 </div>