
      <div class="jumbotron">
      	<h1>'Allo, 'Allo!</h1>
      	<p class="lead">Lets try to learn backbone</p>
      </div>

      <div class="footer">
      	<p>♥ from the Yeoman team</p>
      </div>

