
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">


		<form>
			<div class="form-group">
				<label for="txtName">Full Name</label>
				<input type="text" class="form-control" id="txtName" placeholder="Contacts name"  value="<%= data.name %>">
			</div>
			<div class="form-group">
				<label for="txtEmail">Email address</label>
				<input type="text" class="form-control" id="txtEmail" placeholder="Email"   value="<%= data.email %>">
			</div>
			<div class="form-group">
				<label for="txtPhoneNumber">Phone Number</label>
				<input type="text" class="form-control" id="txtPhoneNumber" placeholder="Phone Number" value="<%= data.phoneNumber %>">
			</div>
			<div class="form-group">
				<label for="txtComments">Comment</label>
				<textarea class="form-control" rows="3" id="txtComments"><%= data.comments %></textarea>
			</div>
			<button  class="btn btn-primary save">Save</button>
		</form>

	</div>  
</div>